.common-bg-info {
  background-color: #feeae9;
}

.color-btn-buy-now,
.common-btn-buy-now {
  background-color: #ff297d;
  color: #fff;
}
.subscription {
  height: 320px;
  background-color: #feeae9;
}
